{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}My Cart{% endblock  %}


{% include "users/header.html" %}
{% block content %}
<h1 class="text-center">Products</h1>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            {% if items|length < 1 %}
            <h2 class="text-center text-danger my-3">
                No items in the cart
            </h2>
            {% else %}
            <table class="table table-border">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>unit price</th>
                        <th>Product Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                    <tr>
                        <td>{{i.product.product_name}}</td>
                        <td>{{i.product.product_price}}</td>
                        <td><img src="{{i.product.product_image.url}}" alt="" height="100px"></td>
                        <td>
                            <a href="{% url 'delete' i.id %}" class="btn btn-danger" onClick="return confirm('sachi delete garne ho?')">Delete</a>
                            <br>
                            <br>
                            <a href="/users/orderform/{{i.product.id}}/{{i.id}}" class="btn btn-success">Order now</a>
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
            {% endif %}
        
        </div>
    </div>
</div>
{% endblock  %}


{% include "users/footer.html" %}
