{% extends "admins/layouts.html" %}
{% load static %}
{% block title %}Products{% endblock  %}

{% block content %}
<h1 class="text-center">Products</h1>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <table class="table table-border">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Product price</th>
                        <th>Product description</th>
                        <th>Product Image</th>
                        <th>Category</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in products %}
                    <tr>
                        <td>{{item.product_name}}</td>
                        <td>{{item.product_price}}</td>
                        <td>{{item.description}}</td>
                        <td><img src="{{item.product_image.url}}" alt="" height="100px"></td>
                        <td>{{item.category}}</td>
                        <td>
                            <a href="{% url 'update' item.id %}" class="btn btn-primary">Update</a>
                            <br>
                            <br>
                            <a href="{% url 'delete' item.id %}" class="btn btn-danger" onClick="return confirm('sachi delete garne ho?')">Delete</a>
                        </td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
            <img src="{% static 'photo.png' %}" alt="" height="200px">
        </div>
    </div>
</div>
{% endblock  %}
